body
{
    font-family: 'Poppins', sans-serif; /* Poppins foi a fonte encontrada no google fonts - sans-serif vai ser a fonte reserva caso a Poppins dê algum erro */
    max-width: 1280px; /* limitando a largura do body */
    margin: 0 auto; /* dando a margem para o body e o centralizando */
    background-color: #5e5b5bad;
    color: #333333; /* define a cor de texto */
}

body.modo-escuro
{
    background-color: #212121;
    color: #f5f5f5;
}

header
{    
    display: flex;
    justify-content: space-between; /* define o espaço entre os elementos  */
    padding: 25px; /* dá um espaçamento entre todas as bordas ao redor do elemento */
}

header .logo, 
header .imagem-botao /* o espaço e depois .logo diz que especificamente a classe .logo dentro do header vai ser estilizada - a , serve para aplicar a mesma regra a mais de um seletor */
{
    width: 30px;
    transition: 0.2s ease-in-out;
}

header #botao-alterar-tema
{
    background: none; /* tira o fundo */
    border: none; /* tira a borda */ 
}

header .logo:hover, 
header .imagem-botao:hover,
main .cartao-pokemon:hover
{
    transform: scale(1.05); /* escalando o botão iguamente em 5% */
    cursor: pointer; /* define o cursos do mouse */
}

main
{
    padding: 25px;    
}

main .listagem-pokemon
{
    display: flex; /* flex organiza os elementos em linha */
    flex-wrap: wrap; /* quebra os elementos pra não fugirem da área página */
    gap: 30px; /* definindo o espaçamento entre os cartões */
    justify-content: center; /* justificando o conteúdo no centro, o último elemento também fica centralizado */
}

main .cartao-pokemon
{ /* definindo o limite de espaço de cada cartão de pokemon */
    background-color: #d8e3ec;
    width: 200px;
    padding: 15px; /* distância da borda */
    display: flex; /* organizando em coluna */
    flex-direction: column;
    align-items: center; /* alinhando no centro */    
    gap: 15px; /* espaçamento */
    border-radius: 15px;
    transition: 0.2s ease-in-out; /* é uma transição que vai durar 0.2s e o efeito dela vai ser ease-in-out, ou seja efeito suave ao passar o mouse no cartão */
}

main .cartao-pokemon:hover
{
    background-color: #96d9d6; /* mudando a cor ao passar o mouse por cima */
}

.modo-escuro .cartao-pokemon
{
    background-color: #a8a8a8;
}

main .cartao-pokemon .informacoes
{
    display: flex;
    justify-content: space-between;
    border: 1px solid #333333;   
    border-radius: 10px;
}

main .cartao-pokemon .informacoes span
{
    padding: 5px;
    text-transform: uppercase;
    font-size: 17;
}

main .cartao-pokemon .gif
{
    width: 90px;
    height: 90px;
}

main .cartao-pokemon .tipos
{    
    display: flex;
    gap: 15px;
}

main .cartao-pokemon .tipos 
{
    padding: 8px;
    border-radius: 10px;
}

.grama
{
    background-color: #7ac74c;
    border-radius: 10px;
    padding: 5px;
}

.veneno
{
    background-color: #df67ddfb;
    border-radius: 10px;
    padding: 5px;
}

.fogo
{
    background-color: #ee8130;
    border-radius: 10px;
    padding: 5px;
}

.agua
{
    background-color: #6390f0;
    border-radius: 10px;
    padding: 5px;
}

.inseto
{
    background-color: #a6b91a;
    border-radius: 10px;
    padding: 5px;
}

main .descricao
{
    max-height: 80px;
    overflow: scroll; /* corta o texto que passar do limite */
    font-size: 14px;
    padding-right: 10px; /* evitando que o texto encoste na barra de rolagem */
} 


