/* o * faz todos os elementos html receberem o estilo escrito */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



ul
{
    list-style: none; /* define o estilo da lista como nenhum */
    
}
